<p>
<strong>Subject:</strong>
<%= @ticket.subject %>
</p>

<p>
<strong>Body:</strong>
<%= @ticket.body %>
</p>

<p>
<strong>Status:</strong>
<%= @ticket.status.name unless @ticket.status.nil? %>
</p>


<%= link_to 'Comments', ticket_comments_path(@ticket) %> |
<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
