<h1>Change My Password</h1>

<% form_for @user, :url => update_password_user_sessions_path(params[:change_code]), :method => :post do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :password %>
  <%= f.password_field :password %>
  </p>
  <p>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  </p>
  <p>
  <%= f.submit "Update password" %>
  </p>
<% end %>
