<h1>Login</h1>
<% form_for(@user_session) do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :username %>
  <%= f.text_field :username %>
  </p>
  <p>
  <%= f.label :password %>
  <%= f.password_field :password %>
  </p>
  <p>
  <%= f.submit "Submit" %>
  <%= link_to "Forgot Password", forgot_password_path %>
  </p>
<% end %>
