<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <%= stylesheet_link_tag "helpdesk" %>
    <title>Helpdesk</title>
  </head>
  <body>

    <div id="user-nav">
    <% if current_user %>
      <%= link_to "Home", root_url %> |
      <%= link_to "Edit Profile", edit_user_path(current_user) %> |
      <%= link_to "Logout", logout_url %>
    <% else %>
      <%= link_to "Register", new_user_path %> |
      <%= link_to "Login", login_url %>
    <% end %>
    </div>

    <% if flash[:notice] %>
      <div id="notice"><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>

  </body>
</html>

